{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Ma commande {% endblock %}

{% block content %}

    <h1>Ma commande {{ order.reference }}</h1>

    <a href="{{ path('compte_index') }}">Retour</a>

    <hr>

    <strong>Commande passée le :</strong> {{ order.createdAt | date('d-m-Y H:m') }} <br>
    <strong>Référence de la commande :</strong> {{ order.reference }} <br>
    <strong>Transporteur choisi :</strong> {{ order.carrierName }}


    <table class="table mt-4">
        <caption>Détails de la commande</caption>
        <thead>
        <tr>
            <th scope="col">Produits</th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix unitaire</th>
            <th scope="col">Total</th>
        </tr>
        </thead>
        <tbody>
        {% for product in order.orderDetails %}
            <tr>
                <th scope="row">{{ product.product }}</th>
                <td>x {{ product.quantity }}</td>
                <td>{{ (product.price / 100) |number_format(2, ',', ',') }} €</td>
                <td>{{ (product.total / 100) |number_format(2, ',', ',') }} €</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="text-right">
        <strong>Sous-total : </strong> {{ (order.getTotal / 100) |number_format(2, ',', ',') }} € <br>
        <strong>Livraison : </strong> {{ (order.carrierPrice / 100) |number_format(2, ',', ',') }} € <br>
        <strong>Total : </strong> {{ ((order.carrierPrice + order.getTotal) / 100) |number_format(2, ',', ',') }} €
    </div>

{% endblock %}

