{% extends 'base.html.twig' %}

{% block javascript %}
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block title %} {{ parent() }} - Ma commande {% endblock %}

{% block content %}

    <h2>Mon récapitulatif</h2>
    <p>Vérifiez vos informations avant de payer votre commande</p>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <strong>Mon adresse de livraison</strong> <br>
            <div class="form-check mt-4">
                {{ delivery | raw  }}
            </div>

            <hr>
            <strong>Mon transporteur</strong> <br>
            <div class="form-check">
                {{ carrier.name }} <br>
                {{ carrier.description }}<br>
                {{ carrier.price |number_format(2, ',') }} €
            </div>

        </div>
        <div class="col-md-6">
            <div class="text-center">
                <b>Ma commande</b><br>
            </div>
            <div class="order-summary">
                {% set total = null %}
                {% for key,product in cart %}
                    <div class="row {% if key > 0 %} mt-2 {% endif %}">
                        <div class="col-2 my-auto">
                            <img src="/uploads/{{ product.product.illustration }}" height="75px" alt="{{ product.product.name }}">
                        </div>
                        <div class="col-7 my-auto">
                            {{ product.product.name }} <br>
                            <small>
                                {{ product.product.subtitle }}
                                <br> x {{ product.quantity }}
                            </small>
                        </div>
                        <div class="col-3 my-auto">
                            {{ ((product.product.price * product.quantity) /100)|number_format(2, ',') }} €
                        </div>
                    </div>
                    {% set total = total + (product.product.price * product.quantity) %}
                {% endfor %}
            </div>

            <hr>
            <strong>Sous-total : </strong>{{ (total /100)|number_format(2, ',') }} € <br>
            <strong>Livraison :</strong>{{ carrier.price | number_format(2, ',') }} €
            <hr>
            <strong>Total : </strong> {{ ((total /100) + carrier.price) |number_format(2, ',') }} €

            
             <form action="{{ path('app_stripe', {'reference': reference}) }}" method="POST">
                <button type="submit" class="btn btn-success btn-block mt-3" id="checkout-button">Payer {{ ((total /100) + carrier.price) |number_format(2, ',') }} €</button>
            </form>
        </div>
    </div>

{% endblock %}

