{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Confirmation de commande {% endblock %}

{% block content %}

    <h2>Confirmation de commande</h2>
    <p>
        Bonjour <strong>{{ order.user.firstname}} {{ order.user.lastname }}</strong>. <br>
        Nous vous remercions pour votre commande {{ order.reference }}. <br>
        Une confirmation vient de vous être envoyée à l'adresse {{ order.user.email }}.
        <hr>
        Votre commande sera livrée par {{ order.carrierName }}, à l'adresse suivante : <br>
        {{ order.delivery | raw }}
        <hr>
        Pour suivre votre commande, rendez-vous dans votre <a href="{{ path('app_account_order') }}">compte</a>.
    </p>


{% endblock %}
